<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title></title>
  <meta name="description" content="">

  <link rel="author" href="humans.txt" />

  <link rel="apple-touch-icon-precomposed" href="/images/favicon-152.png">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/images/favicon-144.png">
  <meta name="application-name" content="">

  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->

  <%= css :application %>
  <%= js :application %>
</head>


<!-- Navigation -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Hellloooo, foundation!
          </a>
        </h1>
      </li>
    </ul>
  </nav>

  <!-- End Top Bar -->

  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>


  <footer class="row">
    <div class="large-12 columns"><hr>
      <p class="right">A <a href="#">Good Scary</a> Product &bull; &copy; 2013</p>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
</body>

</html>
