<html>

<head>
  <title>Hellloooo, Nurse!</title>

  <%= css :application %>
  <%= js :application %>
</head>

<body>
<!-- Navigation -->

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
            Hellloooo, Nurse!
          </a>
        </h1>
      </li>
    </ul>
  </nav>

  <!-- End Top Bar -->

  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>


  <footer class="row">
    <div class="large-12 columns"><hr>
      <p class="right">A <a href="#">Good Scary</a> Product &bull; &copy; 2013</p>
    </div>
  </footer>

  <script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->
</body>

</html>
